<table class="table table-striped table-hover" id="datatables">
  <thead>
    <tr>
      <th>Add on steam</th>
      <th>Caster</th>
      <th>Twitch</th>
      <th>Endorsements</th>
    </tr>
  </thead>
  <tbody>
  	<%@casters.each do |caster|%>
	    <tr>
	      <td>
          <%= link_to "steam://friends/add/#{caster.steam_id}" do%>
            <span class="fa fa-plus"></span>
          <%end%>
        </td>
	      <td><%=link_to caster.name, caster%></td>
	      <td>
          <% unless caster.twitch == "NULL" %>
            <%=link_to caster.twitch, "http://twitch.tv/#{caster.twitch}", :target => "_blank"%>
          <% end %>
        </td>
	      <td><%= caster.endorsements.size %></td>
	    </tr>
	  <%end%>
  </tbody>
</table>