<div class="panel panel-primary" style="margin-bottom:0px">
  <div class="panel-heading">
    <h3 class="panel-title">Support our sponsors!</h3>
  </div>
  <div class="panel-body">
    <%= link_to image_tag("AD2L_S3_Invitational_Ticket_664x362.png", :alt => "Season 3 Invitational Ticket", :style => "width:100%;" ), 'http://www.dota2.com/store/itemdetails/20428?r=ce/', :target => "_blank"%>
  </div>
</div>
<div class="panel-body"> 
  <h3>Streams</h3>
  <ul class="list-group">
    <%
    active_stream_names = []
    unless @active_streams.empty?%>
      <%@active_streams.each do |stream|
          #Probably a better way to do this
          active_stream_names << stream.channel.display_name.downcase
        %>
          <li class="list-group-item">
            <%=link_to stream.channel.display_name, stream.channel.url%>
            <span class="badge"><%= stream.viewer_count%></span>
          </li>
      <%end%>
    <%end%>
    <%@twitch_accounts.each do |inactivestream|%>
      <%if active_stream_names.include?(inactivestream) == false%>
          <li class="list-group-item">
            <%= link_to inactivestream, "http://twitch.tv/#{inactivestream}"%>
            <span class="badge"></span>
          </li>
        <%end%>
    <%end%>
  </ul>
</div> 